<?xml version="1.0" encoding="UTF-8"?>
<Context>
  <WatchedResource>WEB-INF/web.xml</WatchedResource>
  <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
  
  <!-- Redisson Session Manager cho Tomcat 10 -->
  <Manager className="org.redisson.tomcat.RedissonSessionManager"
           configPath="${catalina.base}/conf/redisson.yaml" 
           readMode="REDIS" 
           updateMode="AFTER_REQUEST" />


</Context>